.tools-panel-content {
    min-width: var(--min-tools-size);
    width: var(--min-tools-size);
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--m5);
    justify-content: flex-start;
    align-items: stretch;
}
