
/** SETUP */
:root {
    
    --m0:   0px;
    --m1:   2px;
    --m2:   4px;
    --m4:   8px;
    --m5:   10px;
    --m7:   14px;
    --m8:   16px;
    --m10:  20px;
    --m12:  24px;
    --m14:  28px;
    --m22:  44px;

    --text-xs-size: var(--m5);
    --text-s-size: var(--m7);
    --text-m-size: var(--m8);
    --text-l-size: var(--m12);
    --text-xl-size: var(--m14);

    --default-font: 'Fira Mono', 'Consolas', monospace;
    --color-text: #000000;
    --color-text-fade: #454545;
    --color-text-background: #ffffff;
    --color-text-background-fade: #d9d9d9a3;
    --color-text-background-alt: #7493a915;
    --color-primary: #3ea7f3;
    --color-secondary: #506574;
    --color-tertiary: #7493a9;
    --border-radius-harmonized: var(--m4);

    --min-screen-size: 330px;
    --min-panel-size: 300px;

    --min-card-size: 330px;
    --min-info-size: 330px;
    --min-tools-size: 330px;
}

/** Global definitions */
.generic-global {
    font-size: var(--text-m-size);
    font-family: var(--default-font);
}

/** Containers / Pages */
.generic-container-players {
    display: flex;
    flex-direction: column;
}

/** PANELS */
.generic-panel {
    margin-top: var(--m5);
    margin-bottom: var(--m5);
    margin-left: var(--m10);
    margin-right: var(--m10);
    padding-top: var(--m2);
    padding-bottom: var(--m1);
    display: flex;
    flex-wrap: wrap !important;
    min-width: fit-content !important;
    border: var(--m1) solid var(--color-text-background-fade);
    background-color: var(--color-text-background);
    border-radius: var(--border-radius-harmonized);
    width: fit-content;
    box-shadow: 
        0px 2px 4px -1px rgba(0,0,0,0.2), 
        0px 4px 5px 0px rgba(0,0,0,0.14), 
        0px 1px 0px 0px rgba(0,0,0,0.12);
}

.generic-core-panel {
    display: flex;
    flex-wrap: wrap;
    min-width: fit-content;
    flex-direction: column;
}

/** Generic Fields */
.generic-field {
    margin: var(--m0);
    padding-left: var(--m5);
    padding-right: var(--m5);
    padding-top: var(--m2);
    padding-bottom: var(--m2);
}
/** Field Container */
.generic-field.panel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: fit-content;
    margin-left: var(--m2);
    margin-right: var(--m2);
    background-color: var(--color-text-background-alt);
}

/** Space Buffer */
.generic-field.buffer {
    flex: 1;
    margin-left: var(--m2);
    margin-right: var(--m2);
}

/** LABEL & VALUE */
.generic-field.label {
    color: var(--color-text-fade);
    margin-left: var(--m2);
}

.generic-field.value {
    color: var(--color-text);
    margin-right: var(--m2);
}

.generic-field.button {
  border: var(--m1) solid var(--color-tertiary);
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-harmonized);
  color: #ffffff;
  width: 100%;
  padding: var(--m5) var(--m10);
}

.generic-field.button:hover {
  border: var(--m1) solid var(--color-tertiary);
  background-color: var(--color-primary);
  color: #ffffff;
  padding: var(--m5) var(--m10);
}

.generic-field.button:disabled,
.generic-field.button[disabled]{
  border: var(--m1) solid var(--color-secondary);
  background-color: var(--color-tertiary);
  opacity: 1;
  color: var(--color-text-background-fade);
}

/** PROGRESS */
.generic-field.progress {
    width: 100%;
    accent-color:var(--color-primary);
    background-color:transparent;
    -webkit-appearence:none;
}

/** Progress bar color */
.generic-field.progress::-webkit-progress-bar {
    background-color:var(--color-tertiary);
    border-radius: var(--border-radius-harmonized);
}

/** Progress value color */
.generic-field.progress::-webkit-progress-value {
    background-color:var(--color-secondary);
    border-radius: var(--border-radius-harmonized);
}

/** Progress value color - alternative */
.generic-field.progress::-moz-progress-bar {
    background-color:var(--color-secondary);
}

/** Inputfield */
.generic-field.input {
    background-color: var(--color-text-background);
    border: var(--m1) solid var(--color-text-background-fade);
    border-radius: var(--border-radius-harmonized);
    padding-left: var(--m5);
    padding-right: var(--m5);
    width: 50%;
    height: var(--m12);
    color: var(--color-text);
    pointer-events: all;
    text-align: right;
}

.generic-field.input:disabled {
    background-color: transparent;
    border: transparent;
    border-radius: inherit;
    padding-left: var(--m0);
    padding-right: var(--m0);
    margin-left: var(--m0);
    margin-right: var(--m5);
    width: 50%;
    height: var(--m14);
    color: var(--color-text-fade);
    pointer-events: none;
}

/** Select */
.generic-field.select {
    background-color: var(--color-text-background);
    border: var(--m1) solid var(--color-text-background-fade);
    border-radius: var(--border-radius-harmonized);
    padding-left: var(--m5);
    padding-right: var(--m5);
    margin: var(--m1);
    height: var(--m22);
    width: 100%;
    color: var(--color-text);
    pointer-events: all;
}

.generic-field.select:disabled {
    background-color: transparent;
    border: transparent;
    border-radius: inherit;
    padding-left: var(--m5);
    padding-right: var(--m5);
    width: 100%;
    color: var(--color-text-fade);
    pointer-events: none;
}

/** TEXT */
.generic-text {
    font-size: var(--text-m-size);
    font-family: var(--default-font);
}

.generic-text.no-bg {
    background-color: transparent;
}

.generic-text.fs-xs {
    font-size: var(--text-xs-size);
}

.generic-text.fs-s {
    font-size: var(--text-s-size);
}

.generic-text.fs-m {
    font-size: var(--text-m-size);
}

.generic-text.fs-l {
    font-size: var(--text-l-size);
}

.generic-text.fs-xl {
    font-size: var(--text-xl-size);
}

.player-card-panel {
    margin: 0px;
}

.player-card-content {
    min-width: var(--min-card-size);
    width: var(--min-card-size);
}

.info-panel-content {
    min-width: var(--min-info-size);
    width: var(--min-info-size);
}

.tools-panel-content {
    min-width: var(--min-tools-size);
    width: var(--min-tools-size);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-overflow {
    overflow-x: auto;
}
.panel-overflow::-webkit-scrollbar {
    width: var(--m2);
}
.panel-overflow::-webkit-scrollbar-track {
    background: var(--color-tertiary);
}
.panel-overflow::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}
.panel-overflow::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}